.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto; /* Centers the container */
  padding: 20px; /* Adds some padding around the container */
  max-width: 1200px; /* Maximum width of the container */
}
 
.card {
  flex: 1 1 300px; /* Cards will grow and shrink from a base of 300px */
  display: flex;
  flex-direction: column;
  border-radius: 16px; /* Soft rounded corners for the cards */
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); /* A softer, more spread out shadow */
  transition: all 0.3s ease;
  margin-bottom: 20px; /* Space at the bottom of each card */
  color: #333; /* Default text color */
}
 
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2); /* Larger shadow on hover for a 'lifting' effect */
}
 
.card-image-wrapper {
  width: 100%;
  height: 100%; /* Fixed height for the image wrapper */
  background-color: #f0f0f0; /* Placeholder in case the image doesn't load */
}
 
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area */
}
 
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
}
 
.card-content {
  padding: 15px;
  flex-grow: 1; /* Allows the content to fill the space, keeping the image size fixed */
  overflow: hidden; /* Hides any content that overflows the fixed height */
  height: 200px; /* Fixed height large enough to fit the content */
}
 
.card-title {
  font-size: 1.25em; /* Slightly larger title */
  font-weight: bold;
  margin: 10px 0;
}
 
.card-details {
  font-size: 0.9em; /* Smaller font size for details */
  color: #666; /* Lighter color for less important details */
  margin-bottom: 10px; /* Spacing before the price */
}
 
.card-rating,
.card-distance,
.card-price {
  display: block;
  margin-bottom: 5px;
}
 
.card-price {
  color: #4CAF50; /* Standout color for price */
  font-weight: bold;
  font-size: 1.1em; /* Larger font size for price */
}
 
/* Responsive adjustments */
@media (max-width: 1200px) {
  .card-container {
    max-width: none; /* Allow the container to be full width */
  }
  .card {
    flex: 1 1 45%; /* Two cards per row on medium screens */
  }
}
 
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Full width on small screens */
    max-width: 100%; /* Prevents cards from exceeding the width of the container */
  }
 
  .card-image-wrapper {
    height: 250px; /* Slightly larger images on small screens */
  }
}