.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto; 
  padding: 20px; 
  max-width: 1200px; 
}
.card {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column;
  border-radius: 16px; 
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
  transition: all 0.3s ease;
  margin-bottom: 20px; 
  color: #333; 
}
.card-image-wrapper {
  width: 100%;
  height: 100%; 
  background-color: #f0f0f0; 
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1001;
  /* 모달의 위치가 변경되지 않도록 추가 */
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-content {
  padding: 15px;
  flex-grow: 1; 
  overflow: hidden; 
  height: 200px; 
}
.card-title {
  font-size: 1.25em; 
  font-weight: bold;
  margin: 10px 0;
}
.card-details {
  font-size: 0.9em; 
  color: #666; 
  margin-bottom: 10px; 
}
.card-rating,
.card-distance,
.card-price {
  display: block;
  margin-bottom: 5px;
}
.card-price {
  color: #4CAF50; 
  font-weight: bold;
  font-size: 1.1em; 
}
@media (max-width: 1200px) {
  .card-container {
    max-width: none; 
  }
  .card {
    flex: 1 1 45%; 
  }
}
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; 
    max-width: 100%; 
  }
  .card-image-wrapper {
    height: 250px; 
  }
}