header {
    background-color: #f5f5f5;
    align-items: center;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h2 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.categories-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item {
    margin: 5px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    float:right
}

.category-item:hover {
    background-color: #d0d0d0;
}