.post-view-wrapper {
    width: 60%;
    margin: 0 auto;
  }
  
  .post-view-go-list-btn {
    border: 0;
    padding: 10px;
    background-color: #ffd9d9;
  }
  
  .post-view-row {
    margin: 10px 0;
    display: flex;
  }
  
  .post-view-row > label:first-child {
    margin: 10px 0;
    width: 30%;
    font-weight: bold;
  }
  
  .post-view-row > *:nth-child(2) {
    margin: 10px 0;
    width: 70%;
  }

.board-title {
    display: flex;         
    justify-content: center;
    align-items: center;     
    height: 100px;         
    padding: 25px;          
    font-family: 'SBAggroB', sans-serif; 
    font-size: 25px;         
    box-sizing: border-box; 
  }
 
.create-post-container {
    display: flex;
    justify-content: flex-end; 
    padding-top: 20px;        
    padding-right: 20px;
  }