.container {
  text-align: center; /* 모든 내용을 중앙 정렬 */
}

.button-container {
  margin: 20px 0; /* 버튼과 로딩 메시지 주변 공간 추가 */
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px; /* 버튼 아래에 공간 추가 */
  animation: fadeIn 1s ease-out; /* 'fade in' 애니메이션 추가 */
}

.mandalart-guide-title {
  text-align: center;
  /* 추가 스타일링 옵션 */
}

.square-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.square-table td {
  width: 90px; /* 셀의 너비 */
  height: 90px; /* 셀의 높이, 정사각형 모양을 위해 너비와 같은 값 */
  border: 1px solid black;
  padding: 0; /* padding을 0으로 설정하여 입력란이 셀 안에 꽉 차도록 함 */
}

.mandalart-input {
  width: 100%; /* 입력란의 너비를 셀의 너비에 맞춤 */
  height: 100%; /* 입력란의 높이를 셀의 높이에 맞춤 */
  border: none;
  text-align: center;
  box-sizing: border-box; /* padding과 border가 width와 height에 포함되도록 함 */
}

.mandalart-input:placeholder-shown {
  background-color: #ccc; /* 어두운 배경색 */
}

/* 입력란에 값이 있을 때의 스타일 */
.mandalart-input:not(:placeholder-shown) {
  background-color: white; /* 밝은 배경색 */
}

/* 'fade in' 애니메이션 정의 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
