/* Slider.css */
.slider-container {
  overflow: hidden;
  position: relative;
  background: linear-gradient(135deg, #E6A4B4 0%, #C58BF2 100%);
  max-width: 80%;
  margin: 40px auto;
  padding: 25px;
  border-radius: 20px; /* 둥근 모서리 추가 */
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  box-sizing: border-box;
  transform: skewX(10deg);
  position: relative;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  padding: 45px;
  margin: 0 5px;
  min-width: calc(33.333% - 10px);
  margin: 0 15px; /* 슬라이드 사이의 여백을 조정 */
}
  
  /* Increase the size and visibility of the navigation buttons */
  .leftBtn, .rightBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 0; /* Padding removed because width and height are specified */
    cursor: pointer;
    font-size: 2rem; /* Increased font size */
    border-radius: 50%;
    width: 40px; /* Increased width */
    height: 40px; /* Increased height */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.5rem; /* 아이콘 크기를 줄임 */
  }
  
  .leftBtn:hover, .rightBtn:hover {
    background-color: #dddddd;
    transform: scale(1.2) translateY(-50%); /* Larger scale on hover */
  }
  
  .leftBtn {
    left: 10px; /* Increased distance from the edge */
  }
  
  .rightBtn {
    right: 10px; /* Increased distance from the edge */
  }
  
  /* Adjustments for navigation dots */
  .dots {
    bottom: 30px; /* Increased distance from the bottom */
  }
  
  .dot {
    height: 15px; /* Increased dot size */
    width: 15px; /* Increased dot size */
    margin: 0 6px; /* Adjust spacing between dots */
  }
  
  /* Adjust text size and positioning for readability */
  .text-wrap h5, .text-wrap h1, .text-wrap h4 {
    font-size: larger; /* Increased font size */
    /* You may need to adjust line-height, margins, etc. */
  }

  @media (max-width: 768px) {
    .slider-container {
      max-width: 100%;
      padding: 10px;
    }
  
    .slide {
      padding: 20px;
      min-width: 100%;
      width: 100%; /* 모바일 뷰에서는 슬라이드를 화면 너비에 맞게 조정 */
      margin: 0; /* 모바일 뷰에서 여백 제거 */
    }
  }