.post-view-wrapper {
  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  max-width: 600px;
}

.post-view-go-list-btn {
  border: 0;
  padding: 10px;
  background-color: #ffd9d9;
}

.post-view-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}

.post-view-row label:first-child {
  font-weight: bold; /* Make the title label bold */
}



.post-view-row > *:nth-child(2) {
  margin: 10px 0;
  width: 70%;
}

.board-title {
  display: flex;         /* Flexbox를 사용하여 내용을 중앙에 배치 */
  justify-content: center; /* 가로 방향으로 중앙에 배치 */
  align-items: center;     /* 세로 방향으로 중앙에 배치 */
  height: 100px;           /* div의 높이 설정. 필요에 따라 조정하세요 */
  padding: 25px;           /* 패딩 적용 */
  font-family: 'SBAggroB', sans-serif; /* 글꼴 적용 */
  font-size: 25px;         /* 글꼴 크기 설정 */
  box-sizing: border-box;  /* 패딩을 포함한 총 너비를 계산 */
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-post-container {
  align-self: flex-end; /* Flex 컨테이너 내에서 오른쪽 정렬 */
  margin-top: auto; /* 모든 여유 공간을 위로 밀어 올림 */
  margin-right: 9%; /* 오른쪽에서 20px 떨어뜨려 배치 */
}

.post-container .common-table a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크 색상을 텍스트와 동일하게 설정 */
}

.post-container .common-table a:visited {
  color: inherit; /* 방문한 링크 색상을 텍스트와 동일하게 설정 */
}

.post-container .common-table a:hover {
  text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 */
}